
html {
  box-sizing: border-box;
  font-size: 16px;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  background-color: #000;
  overflow-x: hidden;
}

header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

header button {
  background: none;
  border: none;
  color: #fff;
  font-size: 3.5em;
  margin: 0;
  padding: 0 18px;
}

@media (min-width: 960px) {
  header > button {
    display: none;
  }
}

.side-button-div {
  --buttonWidth: 171px;
  --buttonHeight: 55px;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
}

.side-button-div-right {
  right: 0;
}

@media (max-width: 960px), (min-width: 1440px) {
  .side-button-div {
    display: none;
  }
}



/*
 * Left Side Drawer
 */

#side-button-left {
  background: none;
  border-top: none;
  color: #fff;
  font-size: 1.2em;
  height: var(--buttonHeight);
  position: relative;
  /*
   * Vertical Side Drawer Button (left side):
   * Move x-axis "-(half the width - half the height)" then rotate 90 degrees counter-clockwise on center axis.
   */
  transform: translateX(
      calc(-1 * (((var(--buttonWidth)) / 2) - ((var(--buttonHeight)) / 2)))
    )
    rotate(-90deg);
  width: var(--buttonWidth);
}

#drawer-left {
  background: #000;
  border: 1px solid red;
  height: 65%;
  position: fixed;
  top: 50%;
  transform: translate(-16em, -50%);
  transition: transform 0.3s ease;
  width: 16em;
}

#drawer-left.open {
  transform: translate(0, -50%);
}

@media (min-width: 1441px) {
  #drawer-left {
    transform: translate(0, -50%);
  }
}



/*
 * Right Side Drawer
 */

#side-button-right {
  background: none;
  border-top: none;
  color: #fff;
  font-size: 1.2em;
  height: var(--buttonHeight);
  position: relative;
  /*
   * Vertical Side Drawer Button (right side):
   * Move x-axis "(half the width - half the height)" then rotate 90 degrees clockwise on center axis.
   */
  transform: translateX(
      calc(((var(--buttonWidth)) / 2) - ((var(--buttonHeight)) / 2))
    )
    rotate(90deg);
  width: var(--buttonWidth);
}

#drawer-right {
  background: #000;
  border: 1px solid red;
  height: 65%;
  position: fixed;
  right: 0;
  top: 50%;
  transform: translate(16em, -50%);
  transition: transform 0.3s ease;
  width: 16em;
}

#drawer-right.open {
  transform: translate(0, -50%);
}

@media (min-width: 90em) {
  #drawer-right {
    transform: translate(0, -50%);
  }
}



